<aside class="sidebar" [ngClass]="{'hidden': !isSidebarVisible}">
  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a class="sidebar-link" (click)="showDvdTable()">
        DVD's
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" (click)="showClientTable()">
        Clients
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" (click)="showSaleTable()">
        Sales
      </a>
    </li>
  </ul>
</aside>
<button class="sidebar-toggle" (click)="toggleSidebar()">
  SideBar que j'ai voulu mettre et que j'arrive pas à cacher du coup j'ai fait comme ça pour pas avoir à toucher tout le CSS
</button>
