<div id="header">
  <div class="top-header">
    <div class="user">
      <a href="login">
        <i class="fas fa-user"></i>
        <img alt="connexion icon" src="assets/images/user.png" style="width: 60px">
      </a>
    </div>
  </div>
  <div class="bot-header">
    <div class="left-bot-header">
      <h2>
        Rediscover the classics with<br/> our retro DVD collection
      </h2>
    </div>
    <div class="center-bot-header">
      <a href="home"><img alt="compagny logo" src="assets/images/RETRO_DVD_STORE.gif"></a>
    </div>
    <div class="right-bot-header">
      <h2>
        Since 1995
      </h2>
    </div>
  </div>
</div>
