$color_1: #fff;
$color_2: #FF4D2F;
$background-color_1: #FF4D2F;
$background-color_2: #3A0144;
$background-color_3: #333;

header {
	width: 100vw;
	text-align: center;
	position: fixed;
}

footer {
	text-align: center;
	padding: 10px 0;
	background-color: $background-color_3;
	color: $color_1;
}
