  <div class="movies-filter">
    <ul class="">
      <li class="">
        <button (click)="sendGenre('all')" class="">
          Tous
        </button>
      </li>
      <li class="">
        <button (click)="sendGenre('Action')" class="">
          Action
        </button>
      </li>
      <li class="">
        <button (click)="sendGenre('Adventure')" class="">
          Adventure
        </button>
      </li>
      <li class="">
        <button (click)="sendGenre('Animation')" class="">
          Animation
        </button>
      </li>
      <li class="">
        <button (click)="sendGenre('Comedy')" class="">
          Comedy
        </button>
      </li>
      <li class="">
        <button (click)="sendGenre('Crime')" class="">
          Crime
        </button>
      </li>
      <li class="">
        <button (click)="sendGenre('Documentary')" class="">
          Documentary
        </button>
      </li>
      <li class="">
        <button (click)="sendGenre('Drama')" class="">
          Drama
        </button>
      </li>
      <li class="">
        <button (click)="sendGenre('Fantasy')" class="">
          Fantasy
        </button>
      </li>
      <li class="">
        <button (click)="sendGenre('Horror')" class="">
          Horror
        </button>
      </li>
      <li class="">
        <button (click)="sendGenre('Mystery')" class="">
          Mystery
        </button>
      </li>
      <li class="">
        <button (click)="sendGenre('Romance')" class="">
          Romance
        </button>
      </li>
      <li class="">
        <button (click)="sendGenre('Sci-Fi')" class="">
          Sci-Fi
        </button>
      </li>
      <li class="">
        <button (click)="sendGenre('Thriller')" class="">
          Thriller
        </button>
      </li>
      <li class="">
        <button (click)="sendGenre('War')" class="">
          War
        </button>
      </li>
      <li class="">
        <button (click)="sendGenre('Western')" class="">
          Western
        </button>
      </li>
    </ul>
  </div>
