$color_1: #3A0144;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: #FF4D2F;
$background-color_2: color-mix(in srgb, #FF4D2F 50%, #3A0144 50%);

ul {
	list-style-type: none;
	text-decoration: none;
}

.movies-filter {
	height: 80vh;
	width: 20vw;
	position: fixed;
	display: flex;
	justify-content: flex-start;
	margin-top: 24.7vh;
    background-color: $background-color_1;
	font-size: 35px;
	font-family: $font-family_1;
}
