<div class="movies-filter">
  <ul class="">
    <li class="">
      <button (click)="handleGenreClickButton('all')" class="">
        Genres
      </button>
    </li>
    <li class="">
      <button (click)="handleGenreClickButton('action')" class="">
        Action
      </button>
    </li>
    <li class="">
      <button (click)="handleGenreClickButton('adult')" class="">
        Adult
      </button>
    </li>
    <li class="">
      <button (click)="handleGenreClickButton('animation')" class="">
        Animation
      </button>
    </li>
    <li class="">
      <button (click)="handleGenreClickButton('comedy')" class="">
        Comedy
      </button>
    </li>
    <li class="">
      <button (click)="handleGenreClickButton('documentary')" class="">
        Documentary
      </button>
    </li>
    <li class="">
      <button (click)="handleGenreClickButton('drama')" class="">
        Drama
      </button>
    </li>
    <li class="">
      <button (click)="handleGenreClickButton('horror')" class="">
        Horror
      </button>
    </li>
    <li class="">
      <button (click)="handleGenreClickButton('sci-fy')" class="">
        Sci-Fy
      </button>
    </li>
    <li class="">
      <button (click)="handleGenreClickButton('thriller')" class="">
        Thriller
      </button>
    </li>
    <li class="">
      <img
        alt="Browse more genre icon"
        src="assets/images/add.png"
        style="width: 30px"
      />
      <a class="" href="#">See More</a>
    </li>
  </ul>
</div>
